  <ul class="list-group">
  <% @users.each do |user| %>
    <div class="col-3"> 
      <li class="list-group-item list-group-item-primary">
        <%= link_to user.email, edit_user_path(user)   %>
      -  <%= link_to 'DELETAR', @user, method: :delete, data: { confirm: 'Vc está certo de que quer excluir?' } %>
    </div>
    </li>  
<% end %>
</ul>
